# Entorno virtual
venv/
env/
*.venv

# Archivos compilados Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.log
